<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @time_entry_type_material.amount %>
</p>


<%= link_to 'Edit', edit_time_entry_type_material_path(@time_entry_type_material) %> |
<%= link_to 'Back', time_entry_type_materials_path %>
